:root {
  --background-color: #131313;
  --background-image: url('data:image/svg+xml;utf8,<svg width="100" height="100" xmlns="http://www.w3.org/2000/svg"><filter id="grainy"><feTurbulence type="fractalNoise" baseFrequency="0.5" numOctaves="9" result="noise"/><feColorMatrix type="saturate" values="0"/><feBlend mode="multiply" in="SourceGraphic"/></filter><rect width="100%" height="100%" style="fill: white; filter: url(%23grainy);"/></svg>');
  --border-color: hsl(0, 0%, 24%);
  --border-image: url('data:image/svg+xml;utf8,<svg width="100" height="100" xmlns="http://www.w3.org/2000/svg"><filter id="grainy"><feTurbulence type="fractalNoise" baseFrequency="0.5" numOctaves="9" result="noise"/><feColorMatrix type="saturate" values="0"/><feBlend mode="multiply" in="SourceGraphic"/></filter><rect width="100%" height="100%" style="fill: hsl(0, 0%, 24%); filter: url(%23grainy);"/></svg>') 30 round;
  --para-color: rgb(193, 82, 31);
  --div-font-color: rgb(219, 219, 219);
  --search-background-color: #4e4d4d;
  --shadow-color: 0deg 0% 0%;
  --image-invert-filter: invert(100%);
  --border-radius: 20px;
  --hover-border-radius: 15px;
  --background-blend-mode: darken;
  --shadow-elevation-low: 0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.34),
    0.4px 0.8px 1px -1.2px hsl(var(--shadow-color) / 0.34),
    1px 2px 2.5px -2.5px hsl(var(--shadow-color) / 0.34);
  --shadow-elevation-medium:
    0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.36),
    0.8px 1.6px 2px -0.8px hsl(var(--shadow-color) / 0.36),
    2.1px 4.1px 5.2px -1.7px hsl(var(--shadow-color) / 0.36),
    5px 10px 12.6px -2.5px hsl(var(--shadow-color) / 0.36);
  --shadow-elevation-high:
    0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.34),
    1.5px 2.9px 3.7px -0.4px hsl(var(--shadow-color) / 0.34),
    2.7px 5.4px 6.8px -0.7px hsl(var(--shadow-color) / 0.34),
    4.5px 8.9px 11.2px -1.1px hsl(var(--shadow-color) / 0.34),
    7.1px 14.3px 18px -1.4px hsl(var(--shadow-color) / 0.34),
    11.2px 22.3px 28.1px -1.8px hsl(var(--shadow-color) / 0.34),
    17px 33.9px 42.7px -2.1px hsl(var(--shadow-color) / 0.34),
    25px 50px 62.9px -2.5px hsl(var(--shadow-color) / 0.34);
}

[data-theme="light"] {
  --background-color: beige;
  --search-background-color: rgb(247, 247, 234);
  --border-color: hsl(0, 0%, 24%);
  --para-color: rgb(193, 82, 31);
  --div-font-color: #131313;
  --image-invert-filter: invert(0%);
  --background-blend-mode: lighten;
}

body {
  background-color: var(--background-color);
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  cursor: hidden;
  /* background-image: var(--background-image);
  background-blend-mode: var(--background-blend-mode); */
}

* {
  transition: border-color 0.3s ease-in-out, border-style 0.3s ease-in-out, border-width 0.3s ease-in-out, background-image 0.3s ease-in-out, background-blend-mode 0.3s ease-in-out, background-color 0.3s ease-in-out, filter 0.3s ease-in-out, font-color 0.3s ease-in-out;
  color: var(--div-font-color);
}