.friends-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 20px;
}

.friend {
    display: flex;
    border: 1px solid var(--border-color);
    padding: 20px;
    width: 90%;
    border-radius: var(--border-radius);
    gap: 30px;
}

.friend:hover {
    border-style: dashed;
}

.friend {
    display: flex;
    flex-direction: column;
}

.friend-info>div>img {
    height: 50px;
}

.friend-info>div:has(>img), .friend-info>div:has(>svg) {
    display: flex;
    font-size: 20px;
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid var(--para-color);
}

.friend-info {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-direction: row;
}

.friend-container>div {
    background-color: var(--para-color);
    padding: 10px;
    margin: 10px;
    border-radius: 8px;
}

.friend-container>div>div>div {
    display: flex;
    justify-content: space-between;
    margin: 10px 0px;
}