.profile-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 20px;
}


.profile-page-profile-photo {
    display: flex;
    justify-content: center;
    border-radius: 50%;
    border: 5px solid var(--para-color);
    overflow: hidden;
    object-fit: cover;

}

.profile-page-profile-photo-container {
    position: relative;
}

.profile-page-profile-photo>img {
    height: 200px;
}

.profile-page-profile-photo-edit {
    position: absolute;
    top: 0;
    right: 0;
}

.profile-page-username {
    display: flex;
    align-self: center;
    justify-content: center;
    font-size: 30px;
    gap: 10px;
}

.profile-page-username {
    transform: translateX(15px);
}