:root {
    --concentration-options-buttons-width: 160px;
    --concentration-size-buttons-width: 105px;
    --concentration-board-button-width: 160px;
    --concentration-buttons-gap: 5px;
    --concentration-cell-border-width: 1px;
    --concentration-button-height: 50px;
    --concentration-button-font-size: 20px;
    --concentration-button-border-radius: 15px;
}

.concentration-container {
    display: flex;
    text-align: center;
    align-content: center;
    flex-direction: column;
    justify-content: center;
}

.concentration {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 924px;
    margin: auto;
}

.card {
    transition: transform 0.1s ease-in-out;
    margin: 2px;
}

.card:hover {
    transform: scale(1.1);
}

.card.card-default {
    cursor: pointer;
}

.card.card-selected {
    cursor: default;
}

.card.card-selected:hover {
    transform: scale(1);
}

.card.not-hoverable {
    cursor: default;
}

.card.not-hoverable:hover {
    transform: scale(1);
}

.concentration svg.not-hoverable path {
    fill: var(--background-color);
    stroke: var(--background-color);
    transition: fill 0.3s ease-in-out, stroke 0.3s ease-in-out;
}

.concentration-options {
    display: flex;
    margin: auto;
}

.concentration-option {
    width: var(--concentration-options-buttons-width);
    padding: 10px;
    border: 1px solid var(--para-color);
    border-radius: var(--concentration-button-border-radius);
}

.concentration-option:hover {
    border-style: dashed;
}