:root {
    --dl-card-width: 500px;
    --dl-card-height: 300px;
    --dl-card-info-font-size: 20px;
    --dl-card-info-padding: 30px;
    --dl-card-info-gap: 10px;
    --dl-card-reduction: 0.7;
    --dl-card-border-radius: 20px;
    --dl-card-border-width: 4px;
}

.dl-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.dl-card {
    border: var(--dl-card-border-width) solid currentColor;
    border-radius: var(--dl-card-border-radius);
    width: var(--dl-card-width);
    height: var(--dl-card-height);
    display: flex;
    flex-direction: row;
    background-color: var(--border-color);
}

.dl-card-photo {
    display: flex;
    align-items: center;
}

.dl-card-info {
    display: flex;
    flex-direction: column;
    font-size: var(--dl-card-info-font-size);
    text-align: left;
    gap: var(--dl-card-info-gap);
    padding: var(--dl-card-info-padding) 0px;
}

.dl-card-info>div>span {
    color: var(--para-color);
}

@media (max-width: 630px) {
    .dl-card-photo>svg {
        width: calc(var(--dl-card-reduction)*200px);
        height: calc(var(--dl-card-reduction)*200px);
    }

    .dl-card {
        border-width: calc(var(--dl-card-reduction)*var(--dl-card-border-width));
        width: calc(var(--dl-card-reduction)*var(--dl-card-width));
        height: calc(var(--dl-card-reduction)*var(--dl-card-height));
        border-radius: calc(var(--dl-card-reduction)*var(--dl-card-border-radius));
    }

    .dl-card-info {
        font-size: calc(var(--dl-card-reduction)*var(--dl-card-info-font-size));
        padding: calc(var(--dl-card-reduction)*var(--dl-card-info-padding)) 0px;
        gap: calc(var(--dl-card-reduction)*var(--dl-card-info-gap))
    }
}