:root {
    --dl-card-width: 500px;
    --dl-card-height: 300px;
    --dl-card-info-font-size: 13px;
    --dl-card-info-padding: 30px;
    --dl-card-info-gap: 10px;
    --dl-card-reduction: 0.7;
    --dl-card-border-radius: 20px;
    --dl-card-border-width: 4px;
    --dl-card-photo-border-width: 2px;
    --dl-card-title-font-size: 23px;
    --dl-card-photo-signature-font-size: 12px;
    --dl-card-photo-container-margin: 20px;
    --dl-card-issued-expiry-container-font-size: 12px;
    --dl-card-issued-expiry-container-margin-top: 20px;
    --dl-buttons-width: 400px;
    --dl-buttons-margin: 10px;
    --dl-buttons-padding: 10px;
    --dl-buttons-border-radius: 3px;
    --dl-questions-container-width: 440px;
}

.dl-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.dl-card-photo-info {
    display: flex;
    flex-direction: row;
}

.dl-card {
    border: var(--dl-card-border-width) solid currentColor;
    border-radius: var(--dl-card-border-radius);
    width: var(--dl-card-width);
    height: var(--dl-card-height);
    display: flex;
    flex-direction: column;
    background-color: var(--border-color);
    position: relative;
}

.dl-card-divider {
    width: 100%;
    background-color: currentColor;
    height: var(--dl-card-border-width);
}

.dl-card-title {
    font-size: var(--dl-card-title-font-size);
    color: rgb(219, 219, 219);
}

.dl-card-photo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: var(--dl-card-photo-container-margin);
    height: 100%;
}

.dl-card-photo-signature {
    font-size: var(--dl-card-photo-signature-font-size);
    color: rgb(219, 219, 219);
}

.dl-card-photo {
    display: flex;
    border: var(--dl-card-photo-border-width) solid rgb(219, 219, 219);
    width: 100%;
    background-color: rgb(219, 219, 219);
}

.dl-card-info {
    display: flex;
    flex-direction: column;
    font-size: var(--dl-card-info-font-size);
    text-align: left;
    gap: var(--dl-card-info-gap);
    padding: var(--dl-card-info-padding) 0px;
}

.dl-card-info>div {
    color: rgb(219, 219, 219);
}

.dl-card-info>div>span {
    color: var(--para-color);
}

.dl-card-issued-expiry-container {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    font-size: var(--dl-card-issued-expiry-container-font-size);
    margin-top: var(--dl-card-issued-expiry-container-margin-top);
}

.dl-card-issued-expiry-container>div>span {
    color: var(--para-color)
}

.dl-card-issued-expiry-container>div {
    color: rgb(219, 219, 219)
}


.dl-questionnaire-container {
    width: var(--dl-questions-container-width);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.dl-questionnaire-container-options {
    display: flex;
    align-items: center;
    justify-content: center;
}

.dl-questionnaire-next-button, .dl-next-button, .dl-questionnaire-container-option {
    margin: var(--dl-buttons-margin);
    padding: var(--dl-buttons-padding);
    border-radius: var(--dl-buttons-border-radius);
    width: var(--dl-buttons-width);
}

.dl-questionnaire-next-button, .dl-next-button {
    background-color: var(--para-color);
}

.dl-questionnaire-container-option {
    background-color: var(--border-color);
}

.dl-questionnaire-container-option:hover {
    background-color: hsl(0, 3%, 44%);
}


.dl-questionnaire-next-button:hover, .dl-next-button:hover {
    background-color: rgb(218, 115, 68);
}

.dl-questionnaire-next-button-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 630px) {
    .dl-card-photo>svg {
        width: calc(var(--dl-card-reduction)*150px);
        height: calc(var(--dl-card-reduction)*150px);
    }

    .dl-card-title {
        font-size: calc(var(--dl-card-reduction)*var(--dl-card-title-font-size));
    }

    .dl-card-photo-container {
        margin: calc(var(--dl-card-reduction)*var(--dl-card-photo-container-margin));
    }

    .dl-card-divider {
        height: calc(var(--dl-card-reduction)*var(--dl-card-border-width));
    }

    .dl-card-photo-signature {
        font-size: calc(var(--dl-card-reduction)*var(--dl-card-photo-signature-font-size));
    }

    .dl-card {
        border-width: calc(var(--dl-card-reduction)*var(--dl-card-border-width));
        width: calc(var(--dl-card-reduction)*var(--dl-card-width));
        height: calc(var(--dl-card-reduction)*var(--dl-card-height));
        border-radius: calc(var(--dl-card-reduction)*var(--dl-card-border-radius));
    }

    .dl-card-info {
        font-size: calc(var(--dl-card-reduction)*var(--dl-card-info-font-size));
        padding: calc(var(--dl-card-reduction)*var(--dl-card-info-padding)) 0px;
        gap: calc(var(--dl-card-reduction)*var(--dl-card-info-gap));
    }

    .dl-card-issued-expiry-container {
        font-size: calc(var(--dl-card-reduction)*var(--dl-card-issued-expiry-container-font-size));
        margin-top: calc(var(--dl-card-reduction)*var(--dl-card-issued-expiry-container-margin-top));
    }

    .dl-questionnaire-next-button, .dl-next-button, .dl-questionnaire-container-option {
        margin: calc(var(--dl-card-reduction)*var(--dl-buttons-margin));
        padding: calc(var(--dl-card-reduction)*var(--dl-buttons-padding));
        border-radius: calc(var(--dl-card-reduction)*var(--dl-buttons-border-radius));
        width: calc(var(--dl-card-reduction)*var(--dl-buttons-width));
    }

    .dl-questionnaire-container {
        width: calc(var(--dl-card-reduction)*var(--dl-questions-container-width));
    }

}