:root {
    --tetris-block-color-background: rgb(193, 82, 31);
    --tetris-border-color: hsl(0, 0%, 24%);
    --tetris-cell-size: 35px;
}

.tetris-container {
    text-align: center;
    align-items: center;
}

.tetris-row {
    display: flex;
}

.tetris {
    display: inline-block;
    margin: 20px;
    padding: 20px;
    border: 1px solid var(--border-color);
}


.tetris-cell {
    display: inline-block;
    width: var(--tetris-cell-size);
    height: var(--tetris-cell-size);
    box-sizing: border-box;
    color: grey;
}

.tetris-cell-0 {
    background-color: black;
}

.tetris-cell-1 {
    background-color: var(--tetris-block-color-background);
    border-bottom: 1px solid var(--tetris-border-color);
    border-right: 1px solid var(--tetris-border-color);
    border-top: 1px solid var(--tetris-border-color);
    border-left: 1px solid var(--tetris-border-color);
}

.tetris-score-label-container {
    display: flex;
    justify-content: space-between;
}

.tetris-score-label {
    display: flex;
    font-weight: bold;
}

.t-parent {
    display: flex;
}

element.style {
    width: 44px;
    left: 0px;
}

.tetris * {
    transition: none;
}

@media (max-width: 768px) {
    .tetris-cell {
        width: calc(0.8*var(--tetris-cell-size));
        height: calc(0.8*var(--tetris-cell-size));
    }
}