.navbar {
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 4;
    height: 30px;
    background-color: var(--background-color);
    padding: 5px;
    /* background-image: var(--background-image);
    background-blend-mode: var(--background-blend-mode); */
}

.leftpane-open-close-button {
    position: fixed;
    color: var(--border-color);
    cursor: pointer;
}

.content-user-top-right-options {
    position: fixed;
    right: 5px;
    top: 5px;
    color: var(--border-color);
    z-index: 2;
    display: flex;
    gap: 30px;
    margin-right: 10px;
}

.content-user-top-right-options img {
    width: 30px;
    border-radius: 50%;
    transition: box-shadow 0.3s ease-in-out;
    cursor: pointer;
}


.current-user {
    gap: 10px;
    position: relative;
    display: flex;
    flex-direction: row;
}


.authentication-box {
    position: absolute;
    right: 0;
    top: 40px;
    background-color: var(--search-background-color);
    width: 200px;
    border: 1px solid var(--border-color);
    border-radius: var(--hover-border-radius);
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 15px;
    cursor: default;
}

.authentication-box-input {
    color: black;
}

.authentication-box.authentication-box-login {
    height: 200px;
}

.authentication-box.authentication-box-user {
    height: 250px;
}

.authentication-sign-out-button {
    display: flex;
    justify-content: center;
    padding: 5px;
    width: 100px;
    border-radius: 5px;
    background-color: var(--para-color);
    cursor: pointer;
}

.authentication-sign-out-button:hover {
    background-color: rgb(202, 104, 58);
}

.authentication-button {
    display: flex;
    justify-content: center;
    padding: 5px;
    width: 100px;
    border-radius: 5px;
    background-color: var(--para-color);
}

.authentication-options {
    font-size: 10px;
    gap: 1px
}

.authentication-switch {
    color: var(--para-color);
}

.authentication-button, .authentication-switch {
    cursor: pointer;
}

.authentication-box>input {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid var(--border-color);
}

.content-user-top-right-options div {
    display: flex;
    align-items: center;
}

.content-user-top-right-options img:hover {
    box-shadow: var(--shadow-elevation-medium);
}

.display-none {
    display: none;
}