.notification-icon {
    position: relative;
    cursor: pointer;
}

.notification-red-dot {
    position: absolute;
    top: -2px;
    right: -2px;
    width: 10px;
    height: 10px;
    background-color: red;
    border-radius: 50%;
}

.notification-container {
    position: relative;
}

.notification-dropdown {
    display: flex;
    position: absolute;
    left: -200px;
    top: 30px;
    width: 300px;
    border-radius: var(--border-radius);
    border: 1px solid var(--border-color);
    background-color: var(--search-background-color);
    padding: 10px;
}

.notification-list {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.notification-item {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.notification-user-detail {
    gap: 10px;
    user-select: none;
    font-size: 13px;
}

.notification-buttons>svg {
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
}

.notification-buttons>svg:hover {
    background-color: lightgray;
}