.search-container {
    position: relative;
    margin-right: 30px;
}

.search {
    display: flex;
    width: 0px;
    padding-left: 5px;
    height: 26px;
    background-color: var(--background-color);
    border: none;
    border-radius: 10px;
    transition: width 0.3s ease-in-out, background-color 0.3s ease-in-out;
    transform: translateX(5px);
}

.search:focus, .search:active {
    border: 0px;
}

.search-open {
    padding-left: 30px;
    background-color: var(--search-background-color);

    border: 1px solid var(--border-color);
}

.search-open, .search-users-info {
    width: 500px;
}

.search-icon {
    position: absolute;
    transform: none;
    left: 10px;
}

.search-send {
    position: absolute;
    right: 8px;
    cursor: pointer;
}

.search-users-info {
    background-color: aliceblue;

    display: flex;
    position: absolute;
    top: 30px;
    flex-direction: column;
    border-radius: var(--border-radius);
    gap: 10px;
    padding: 10px;
}

.search-user-info {
    padding: 5px;
    width: 100%;
    border-radius: var(--border-radius);
    display: flex;
    gap: 5px;
}

.search-user-info:hover {
    background-color: aqua;
}

@media (max-width: 1148px) {
    .search-open, .search-users-info {
        width: 460px;
    }
}

@media (max-width: 768px) {
    .search-open, .search-users-info {
        width: 80px;
    }
}